.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}